.item-image {
  height: 50px;
}

.section-block {
  display: flex;
  justify-content: flex-start;
  margin-block-end: 0px;
}

.section-container {
  margin-bottom: 1rem;
}

.section-text {
  margin-left: 1rem;
}
