.photo-card-container {
  margin: 5px;
  padding: 0px;
  width: 92%;
}

.photo-card-container:hover {
  filter: brightness(90%);
}

.photo-card-grid {
  padding-right: 0px;
}

.photo-card-image {
  max-height: 180px;
  width: 100%;
}
